.mydiscussions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.discussions {
    flex: 71%;
    margin-right: 1.5rem;
    background: white;
    border-radius:.8rem !important;
}
.myheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    background: white;
    border-radius:.8rem !important;
    padding: 1rem;
}
.participants{
    flex: 25%;
}
.right{
    display: flex;
}
.left{
    display: flex;
}
.myheader h4{
    margin: 0 !important;
    line-height: 1.5;
    padding: 1rem 1.1rem;
    font-size: 2rem;
}

.myheader i,a{
    display: flex;
    font-size: 2.5rem;
    align-items: center;
}
.fa-edit{
    color: #069eb1;
    padding: 0rem .5rem;
}

.fa-times-circle{
    color: crimson;
}

.discussionList2 {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 1rem;
    padding: 2rem;
}
.download{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #cdebff;
    display: inline;
}
.download:hover{
    background:#0084ff;
    color: white !important;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.myspan{
    font-size: 1.4rem;
}

.threads {
    background: var(--color-bg);
    border-radius: 0.7rem;
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 0;
    padding: 0 2rem 4rem 2rem;
}
.thread {
    border-left: 2px solid #0084ff;
    padding-left: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}

.myp{
    font-size: 1.3rem;
    color: #3082b9;
}
.myauthor{
    color: #0084ff;
}

.mycommentcard {
    padding: 0.5rem 2rem;
}
.myparticipant{
    display: flex;
    flex-direction: row;
    background: #f1f1f1;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    margin: .2rem;
}
.myparticipant:hover{
    color: #0084ff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.usernamecomment{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    justify-content: center !important;
    padding-left: 1rem;
    font-size: 1.4rem;
}